@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

button, input {
    font-family: 'Merriweather', serif;
}

div {
    display: block;
    box-sizing: border-box;
}

a {
    color: $link;
    font-weight: bold;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

#root {
    height: 100%;
    width: 100%;
}

.root-router-child {
    height: 100%;
    width: 100%;
}

.back-button {
    background: transparent;
    border: none;
    color: $grey;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 15px;

    &:hover,
    &:active,
    &:focus {
        text-decoration: underline;
    }
}

.ReactModal__Body--open {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.ReactModal__Overlay {
    overflow-x: hidden;
    overflow-y: scroll;
}

.ReactModal__Content {
    background: #fff;
    padding: 10px;
}