@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

@import '_variables';
@import '_base';
@import './components/_navbar';
@import './components/_home';
@import './components/_projects';
@import './components/_experiences';